.page {
    // .page__main-news
    &__main-news {
        margin: 100px 0px 0px 0px;
        @media (max-width: $mobile) {
            margin: 80px 0px 0px 0px;
        }
    }
    // .page__news
    &__news {
    }
    // .page__news-details
    &__news-details {
    }
}

//Новости
.news {
    // .news__container
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    // .news__top
    &__top {
    }
    // .news__body
    &__body {
        display: flex;
        flex-wrap: wrap;
        margin: -10px;
        @media (max-width: $mobile) {
            flex-direction: column;
        }
    }
    // .news__column
    &__column {
        flex: 0 1 24%;
        padding: 10px;
        &.big-news {
            flex: 0 1 52%;
        }
        @media (max-width: $tablet) {
            flex: 0 1 50%;
            &.big-news {
                flex: 1 1 100%;
            }
        }
        @media (max-width: $mobile) {
            flex: 1 1 auto;
        }
    }
    // .news__item
    &__item {
        position: relative;
        min-height: 320px;
        height: 100%;
        border-radius: 26px;
        display: flex;
        align-items: flex-end;
        &:hover {
            .news__title {
                color: $blue;
            }
        }
        @media (max-width: $mobile) {
            min-height: 300px;
        }
    }
    // .news__image
    &__image {
        position: absolute;
        border-radius: 26px;
        z-index: 1;
        width: 100%;
        height: 100%;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-radius: 26px;
            height: 100%;
            z-index: 2;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 17.38%, #000 100%);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 26px;
        }
    }
    // .news__desc
    &__desc {
        position: relative;
        z-index: 5;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    // .news__data
    &__data {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        border-radius: 20px;
        padding: 8px 10px;
        background: $white;
        margin: 0px 0px 14px 0px;
    }
    // .news__title
    &__title {
        transition: all 0.3s ease 0s;
        font-family: $fontFamilyEuropeext;
        font-weight: 700;
        font-size: 14px;
        line-height: 140%;
        text-transform: uppercase;
        color: $white;
    }
    // .news__button
    &__button {
        margin: 60px 0px 0px 0px;
        @media (max-width: $mobile) {
            margin: 40px 0px 0px 0px;
        }
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
    // .news__pagging
    &__pagging {
        @media (max-width: $mobile) {
            display: none;
        }
    }
}

//Новости детальная
.news-details {
    // .news-details__container
    &__container {
    }
    // .news-details__body
    &__body {
    }
    // .news-details__image
    &__image {
        height: 490px;
        margin: 0px 0px 50px 0px;
        picture {
            width: 100%;
            height: 100%;
        }
        @media (max-width: $mobile) {
            height: 350px;
            margin: 0px 0px 30px 0px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 26px;
        }
    }
    // .news-details__content
    &__content {
        display: flex;
        flex-direction: column;
        align-items: start;
        h1 {
            margin: 0px 0px 30px 0px;
            @media (max-width: $mobile) {
                font-size: 20px;
                margin: 0px 0px 20px 0px;
            }
        }
    }
    // .news-details__data
    &__data {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: $white;
        padding: 8px 10px;
        border-radius: 20px;
        background: $mainColor;
        margin: 0px 0px 20px 0px;
    }
    // .news-details__text
    &__text {
        p {
            margin: 0px 0px 24px 0px;
            &:last-child {
                margin: 0px 0px 0px 0px;
            }
            a {
                transition: all 0.3s ease 0s;
                border-bottom: 1px solid $mainColor;
                &:hover {
                    color: $blue;
                    border-bottom: 1px solid transparent;
                }
                &._active {
                    color: $red;
                    border-bottom: 1px solid transparent;
                }
            }
        }
    }
    // .news-details__border
    &__border {
    }
}
